numpy==1.26.4
pandas==2.2.0
plotly==5.22.0
python-arango==7.9.1
streamlit==1.34.0
streamlit-d3graph==1.0.3
scikit-learn==1.5.0
htbuilder==0.6.2
streamlit_navigation_bar==3.3.0
pages==0.3

# oyaml==1.0
# PyYAML==5.4.1
# python-dateutil==2.8.2
# oauthlib==3.2.0

